@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro{
  background-color: #7685ab;
  background-image: linear-gradient(180deg, #7685ab 0%, #a37f70 100%);
  height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* display: none; */
}
.logo{
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.intro h1{
  animation-duration: 4s;
  animation-name: opacity;
  font-family: 'Montserrat', sans-serif;
}
.content{
  /* display: none; */
  background-color: #f5f5f5;
}
.intro{
  display: none;
}
.content .logo{
  background-color: #7685ab;
  background-image: linear-gradient(180deg, #7685ab 0%, #a37f70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0;
}
.content h2{
  text-transform: uppercase;
  font-size: 20px;
  color: #3a3a3a;
  padding: 3px 0;
}
#map {
  height: 350px;
  width: 100%;
 }
.buttons{
  padding: 10px 0;
}
.type{
  border: 0;
  border-radius: 50%;
  padding: 10px;
  width: 70px;
  background-color: #7685ab; 
}
.type span{
  font-size: 35px;
  margin: 0 auto;
  color: #fff;
}
.input{
  border: 2px solid #7685ab;
  border-radius: 25px;
  padding: 0 20px;
  height: 40px;
  outline: 0;
  background-color: transparent;
}
.input-group{
  padding: 0 60px;
}
.search{
  border: 0;
  background-color: transparent;
  outline: 0;
}
.search-icon{
  font-size: 35px;
  font-weight: 700;
  color: #7685ab; 
}
.restaurant{
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 20px 30px;
  margin: 15px auto;
  box-shadow: 10px 10px 25px -5px rgba(193,193,193,1);
}
.restaurant h1{
  text-transform: uppercase;
  font-size: 32px;
  color: #a37f70;
  letter-spacing: 2px;
  text-align: center;
}
.restaurant p{
  font-size: 14px;
  color: #3a3a3a;
}
.restaurant strong{
  text-transform: uppercase;
  color: #a37f70;
  align-self: flex-end;
}
@keyframes opacity {
  from {
    opacity: 0;
    letter-spacing: 0px;
  }
  to {
    opacity: 1;
    letter-spacing: 4px;
  }
}